.card1 {
    width: 25vw;
    box-shadow: 2px 2px #a89a8f;
    margin: 15px;
    color: #655C56;
    border-radius: 0;
}

.card-header1 {
    background-color: #FFE1E1;
}
.card-body1{
    background-color: #FFE1E1;
    text-decoration: none;
    
    color: #655C56;
}
.card-body1 a:hover{
    color:#94D3AC ;
}
.btn2{
    text-decoration: none;
    text-align: center;
    color: #655C56;

}
.btn2:hover{
    color:#94D3AC ;
}
.AllC{
    display: flex;
    position: absolute;
    flex-direction: row;
    flex-wrap: wrap;
}
.proR{
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
}
.proH{
    height: 100vh;
    border-right: 1px solid  #655C56;
    border-bottom: 1px solid  #655C56;
    background-color: #EFFCEF;
    box-shadow: 1px 1px #94D3AC;
    border-bottom-right-radius: 13px;
}
