.card1 {
    width: 30%;
    box-shadow: 2px 2px #a89a8f;
    
    color: #655C56;
    border-radius: 0;
}

.card-header1 {
    background-color: #FFE1E1;
}
.card-body1{
    background-color: #FFE1E1;
    text-decoration: none;
    
    color: #655C56;
}
.card-body1:hover{
    color:#94D3AC ;
}
.btn2{
    text-decoration: none;
    text-align: center;
    color: #655C56;

}
.btn2:hover{
    color:#94D3AC ;
}