.TaskInformation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 15px;
  min-height: 106px;
  // border-radius: 5px;
  color: #655C56;
  max-width: 311px;
  box-shadow: 1px 1px 1px 2px #a89a8f;
//   background: ${({ isDragging }) =>
//     isDragging ? 'rgba(255, 59, 59, 0.15)' : 'white'}; 
  background: #FFE1E1;
  margin-top: 15px;
  .secondary-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 12px;
    font-weight: 400px;
    color: #655C56;
  }
 
}